.div-title {
    font-size: 20px;
    font-weight: 500;
}

.heading-title {
    font-size: 15px;
    font-weight: 500;
}

input {
    width: 100%;
    margin-bottom: 10px;
}

#submitButton {
    width: 40%;
    float: right;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding-right: 100px;
    padding-top: 10px;
}

table {
    width: 100%;
}

button {
    float: right;
}
