body {
    background-image: url(../images/background-map-2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

#loading {
    margin: 0, auto;
}

#loadingDiv {
    margin: 0, auto;
}

.div-title {
    font-size: 20px;
    font-weight: 500;
}

.heading-title {
    font-size: 15px;
    font-weight: 500;
}

input {
    width: 100%;
    margin-bottom: 10px;
}

#submitButton {
    width: 30%;
    float: right;
    background-color: #5E807F;
    border: none;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
}

table {
    width: 100%;
}

button {
    float: right;
    margin-left: 10px;
}

#main-navigation {
    margin-bottom: 0px;
    float: right;
    border-bottom: none;
    margin-top: 35px;
}

.navbar-brand {
    font-size: 50px;
}

.btn.btn-default.navbar-btn {
    background-color: transparent;
    color: white;
    font-family: 'Raleway', sans-serif;
}

a {
    color: white;
}

.jumbotron {
    padding-top: 20px;
    background-color: transparent;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-bottom: 0px;
}

.panel-default>.panel-heading {
    background-color: #5E807F;
    color: white;
    border: 0px;
}

.panel.panel-default {
    border-color: white;
    border: none;
}

#section-title {
    font-size: 20px;
    font-weight: 300;
}

#list_dayForecast {
    width: 100%;
}

#form-panel {
    padding-top: 0px;
}

a:hover, a:active {
    color: #5E807F;
    text-decoration: none;
    font-weight: bold;
}

a:focus {
    color: #5E807F;
    text-decoration: none;
    font-weight: bolder;
}

#user-name {
    color: white;
}